@font-face {
    font-family: "PTSans";
    src: url("fonts/PTSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf") format("opentype");
}