* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;

}

// .container {
//     border: 2px solid aquamarine;
// }

// .row {
//     border: 2px solid plum
// }

// [class^="col"] {
//     border: 2px solid brown;
// }

.main-img__container{
    padding: 0;
}

.main-img__col {
    background-image: url(img/img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center top;
    height: 50rem; //тут можно обсудить vh 

    .main-img__logo-img {
        width: 12rem;
        height: auto;
    }

    .main-img__logo-description {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff;
        text-align: center;
        margin: 10rem 30% 0 30%;
    }

    @media (max-width: 991.98px) {
        .main-img__logo-description {
            margin: 5rem 5% 0 5%;
        }
    }

}

.collection__container {
    font-family: 'PlayfairDisplay', serif;
}

.collection__new-collection__col {
    padding: 0 0 0 5rem;
    min-height: 45rem;

}

.collection__new-collection__img {
    background-image: url(img/img_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: left top;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 6rem;
}

@media (max-width: 1199.98px) {
    .collection__new-collection__col {
        padding: 0;
    }
}

.main_header {
    font-family: "PlayfairDisplay";
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}

.line {
    color: #ffffff;
    height: 1px;
    width: 7.5rem;
    text-align: center;
    opacity: 1;

}

.collection__new-collection__line {
    margin: 1.8rem auto;
}

.main-btn {
    font-family: "PTSans";
    height: 3rem;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    margin: 0 auto;

}

.collection__new-collection__btn {
    width: 8.5rem;
}

.main-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}


.collection__new-season__col {
    padding: 5.8rem 0 3rem;
}


.collection__new-season__line {
    margin: 3.1rem auto;
}

.new-season__goods__container {
    padding: 0 0 0 5rem;
}

.new-season__goods__row {
    margin: 0
}

// .new-season__goods__col-item{
//     padding: 0;
// }

// .new-season__goods__col-item:last-child{
//     padding-right: 0;

// }

// .new-season__goods__col-item:first-child{
//     padding-left: 0;

// }

@media (max-width: 1399.98px) {
    .new-season__goods__container {
        padding: 0;
    }
}

.new-season__goods__item-wrapper {
    background-color: #191b1c;
    display: flex;
    justify-content: center;
    // width: 16.25rem;
    // height: ;
}

.new-season__goods__item__img {
    width: 13.4rem;
    height: 13.4rem;
    margin: 3.4rem auto;
}

.new-season__goods__item__name {
    font-family: "PlayfairDisplay";
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
}

.new-season__goods__item__price {
    font-family: "PlayfairDisplay";
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.collection__container{
    padding: 0;
}

.collection__2018-collection__col {
    padding: 0 5rem 0 0;
    min-height: 45rem;
}



.collection__2018-collection__description {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 45rem;
}

@media (max-width: 1399.98px) {
    .collection__2018-collection__col {
        padding: 0;
    }
}

.collection__2018-collection__img {
    background-image: url(img/img_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center top;
    width: 100%;
    height: 100%;
}

.collection__2018-collection__header {
    font-weight: 400;
}

.collection__2018-collection__info {
    font-family: "PTSans";
    font-size: 0.875rem;
    line-height: 1.3rem;
    margin: 0 30% 3.75rem 30%;
    text-align: center;

}

@media (max-width: 1199.98px) {
    .collection__2018-collection__info {
        margin: 0 5% 3.75rem 5%;
    }
}

.collection__2018-collection__btn {
    width: 19rem;
}

.brends__container {
    background-color: #0F0F0F;
    padding: 0;
    min-height: 20rem;
}

.brends__row {
    margin: auto 0;
}

.brends__col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.brends__imgs__container{
    padding: 0;
}

.brends__line {
    margin: 2.5rem 0;
}


.min-wrapper {
    min-width: 63% !important;
    margin: 0 auto !important;
}

.brends__imgs_col {
    text-align: center;

    img {
        max-width: 15.9rem;
        max-height: 5.8rem;
    }
}

.header__container{
    padding: 0;
}


.header__contacts-info {
    color: #969696;
    font-family: "PTSans";
    font-size: 0.75rem;
    font-weight: 400;
}

.header__contacts-info__phone{
    color: #969696;
    text-decoration: none
}

.header__contacts-info__phone:focus, .header__contacts-info__phone:hover{
    color: #ffffff;
    text-decoration: none;
}

.header__contacts-icon {
    width: 0.9rem;
    height: 0.9rem;
}

.header__contacts__col{
    padding: 0;
}

.header__sign__col{
    text-align: right;
    padding: 0;
}
.header__sign-link {
    color: #969696;
    font-family: "PTSans";
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
}

.header__sign-link:hover {
    color: #ffffff;
    text-decoration: none;
}



.min-row{
    padding: 0 20%;
}

@media (max-width: 1699.98px){
    .min-row{
        padding: 0 10%; 
    }
}


@media (max-width: 1199.98px){
    .min-row{
        padding: 0 5%; 
    } 
}

@media (max-width: 991.98px) {
    .min-row{
        padding: 0 5%; 
    }
}


.menu__container-descktop{
    padding: 0;
    background-color: #0F0F0F;
}

.menu__row-descktop{
    height: 5rem;
}

.menu__logo{
    display: flex;
    align-items: center;
}

.menu-item__col{
    color: #969696;
    text-transform: uppercase;
    font-family: "PTSans";
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
}

.menu-item__personal-area{
    min-width: 12rem;
}

.menu-item__col:hover{
    background-color: #1F1F1F;
    color: #ffffff;
}

.menu-item__shopping, .menu-item__search{
    max-width: 3rem;
}

.menu__container-mobile{
    padding: 0;
}

@media (max-width: 991.98px){
    .menu__container-descktop, .header__sign__col{
        display: none;
    }
}

@media (min-width: 992px) {
    .menu__container-mobile{
        display: none;
    }
}

.menu__col-mobile{
    display: flex;
    justify-content: flex-end;
}

.menu__btn{
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
    color: #969696;
    .fa-bars{
        font-size: 2rem;
    }
}

.right-menu__wrapper{
    background-color: #191b1c;
}

.menu__btn-close{
    color: #969696!important;
}

.menu-list{
    background-color: transparent;
}

.menu-list__item{
    background-color: transparent;
    color: #969696;
    font-family: "PTSans";
    font-size: 0.875rem;
    text-transform: uppercase;
    border: none;
}

.menu-list__item:hover, .menu-list__item:focus{
    background-color: #1F1F1F;
    color: #ffffff;

}

.footer__container{
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center top;
    min-height: 25rem;
    padding: 5rem 0;
    margin: 0;
}

.footer__row{
    margin:0;
}

.footer-header{
    font-family: "PlayfairDisplay";
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.footer-info{
    font-family: "PTSans";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.footer__categories__list-item{
    display: inline-block;
    background-color: #0F0F0F;
    color: #D0D0D0;
    font-family: "PTSans";
    font-size: 0.875rem;
    text-transform: lowercase;
    padding: 0.625rem 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

.footer__categories__list-item:hover{
    background-color: #1F1F1F;
}

.footer__about-info{
    margin-bottom: 2.3rem;
}

.footer__letters-form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.3rem;

}

.footer__letters-form__input{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 0%;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: "PTSans";
    line-height: 1.3rem;
    padding: 0.625rem 0.93rem;
    width: 100%;
    
}

.footer__letters-form__input::placeholder{
    color: #969696;
}

.footer__letters-form__input:focus{
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 0%;
}

.footer__letters-form__btn{
    padding: 0.625rem 1.25rem;
    background-color: #000000;
    border: none;
    margin: 0;
    font-weight: 400;
}

@media (max-width: 350px) {
    .footer__letters-form{
        display: block;
    }
}


.new-arrivals__container{
    padding: 7.5rem 0 9.3rem;
}

.new-arrivals__row{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.new-arrivals__line{
    margin:2.5rem 0;
}

.new-arrivals-items__container{
    padding: 0;
}

